extends layout

block content
  h1= title
  p Welcome to #{title}


  if feature1
    hr
    br
    br
    hr
    div
      h2 Amazing New Feature 1
      .loginmodal-container
        h1 Login to Your Account
        br
        form
          input(type='text', name='user', placeholder='Username')
          input(type='password', name='pass', placeholder='Password')
          input.login.loginmodal-submit(type='submit', name='login', value='Login')
        .login-help
          a(href='#') Register
          |  -
          a(href='#') Forgot Password


  if feature2
    hr
    br
    br
    hr
    div
      h2 Amazing Feature 2
      p
        | Now available api has been released.
    .container
      .row(class='[ ]')
        h2
          | Fancy Bootstrap Checkboxes that work with
          a(href='https://bootswatch.com/', target='_blank') Bootswatch
        p
          | My latest project needed some checkboxes that worked very nicely with bootswatch. Use the Theme picker above here to check out what the checkboxes look like in the different themes.
      .col-xs-12.col-sm-6(class='[ ]')
        h3 Standard Checkboxes
        hr
        .form-group(class='[ ]')
          input#fancy-checkbox-default(type='checkbox', name='fancy-checkbox-default', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-default(for='fancy-checkbox-default', class='[ ]')
              span.glyphicon.glyphicon-ok(class='[ ]')
              span  
            label.btn.btn-default.active(for='fancy-checkbox-default', class='[ ]')
              | Default Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-primary(type='checkbox', name='fancy-checkbox-primary', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-primary(for='fancy-checkbox-primary', class='[ ]')
              span.glyphicon.glyphicon-ok(class='[ ]')
              span  
            label.btn.btn-default.active(for='fancy-checkbox-primary', class='[ ]')
              | Primary Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-success(type='checkbox', name='fancy-checkbox-success', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-success(for='fancy-checkbox-success', class='[ ]')
              span.glyphicon.glyphicon-ok(class='[ ]')
              span  
            label.btn.btn-default.active(for='fancy-checkbox-success', class='[ ]')
              | Success Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-info(type='checkbox', name='fancy-checkbox-info', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-info(for='fancy-checkbox-info', class='[ ]')
              span.glyphicon.glyphicon-ok(class='[ ]')
              span  
            label.btn.btn-default.active(for='fancy-checkbox-info', class='[ ]')
              | Info Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-warning(type='checkbox', name='fancy-checkbox-warning', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-warning(for='fancy-checkbox-warning', class='[ ]')
              span.glyphicon.glyphicon-ok(class='[ ]')
              span  
            label.btn.btn-default.active(for='fancy-checkbox-warning', class='[ ]')
              | Warning Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-danger(type='checkbox', name='fancy-checkbox-danger', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-danger(for='fancy-checkbox-danger', class='[ ]')
              span.glyphicon.glyphicon-ok(class='[ ]')
              span  
            label.btn.btn-default.active(for='fancy-checkbox-danger', class='[ ]')
              | Danger Checkbox
      .col-xs-12.col-sm-6(class='[ ]')
        h3 Custom Icons Checkboxes
        hr
        .form-group(class='[ ]')
          input#fancy-checkbox-default-custom-icons(type='checkbox', name='fancy-checkbox-default-custom-icons', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-default(for='fancy-checkbox-default-custom-icons', class='[ ]')
              span.glyphicon.glyphicon-plus(class='[ ]')
              span.glyphicon.glyphicon-minus(class='[ ]')
            label.btn.btn-default.active(for='fancy-checkbox-default-custom-icons', class='[ ]')
              | Default Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-primary-custom-icons(type='checkbox', name='fancy-checkbox-primary-custom-icons', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-primary(for='fancy-checkbox-primary-custom-icons', class='[ ]')
              span.glyphicon.glyphicon-plus(class='[ ]')
              span.glyphicon.glyphicon-minus(class='[ ]')
            label.btn.btn-default.active(for='fancy-checkbox-primary-custom-icons', class='[ ]')
              | Primary Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-success-custom-icons(type='checkbox', name='fancy-checkbox-success-custom-icons', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-success(for='fancy-checkbox-success-custom-icons', class='[ ]')
              span.glyphicon.glyphicon-plus(class='[ ]')
              span.glyphicon.glyphicon-minus(class='[ ]')
            label.btn.btn-default.active(for='fancy-checkbox-success-custom-icons', class='[ ]')
              | Success Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-info-custom-icons(type='checkbox', name='fancy-checkbox-info-custom-icons', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-info(for='fancy-checkbox-info-custom-icons', class='[ ]')
              span.glyphicon.glyphicon-plus(class='[ ]')
              span.glyphicon.glyphicon-minus(class='[ ]')
            label.btn.btn-default.active(for='fancy-checkbox-info-custom-icons', class='[ ]')
              | Info Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-warning-custom-icons(type='checkbox', name='fancy-checkbox-warning-custom-icons', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-warning(for='fancy-checkbox-warning-custom-icons', class='[ ]')
              span.glyphicon.glyphicon-plus(class='[ ]')
              span.glyphicon.glyphicon-minus(class='[ ]')
            label.btn.btn-default.active(for='fancy-checkbox-warning-custom-icons', class='[ ]')
              | Warning Checkbox
        .form-group(class='[ ]')
          input#fancy-checkbox-danger-custom-icons(type='checkbox', name='fancy-checkbox-danger-custom-icons', autocomplete='off')
          .btn-group(class='[ ]')
            label.btn.btn-danger(for='fancy-checkbox-danger-custom-icons', class='[ ]')
              span.glyphicon.glyphicon-plus(class='[ ]')
              span.glyphicon.glyphicon-minus(class='[ ]')
            label.btn.btn-default.active(for='fancy-checkbox-danger-custom-icons', class='[ ]')
              | Danger Checkbox
